@tailwind base;
@tailwind components;
@tailwind utilities;

body.plugin {
    padding: 0 16px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}

.selectAttachment {
    width: 100%;
}

.attachmentItem {
    padding: 5px;
    border-radius: var(--ring-border-radius);
    background-color: transparent;
}

.attachmentItem:hover {
    background-color: var(--ring-selected-background-color);
}

.badge {
    background-color: rgb(184, 210, 228);
}

.remove-input-focus input:focus {
    outline: none !important;
}

.attachmentIcon {
    color: var(--ring-icon-color);
}

.attachmentIcon:hover {
    color:  #d671b3;
}



