@import 'tailwindcss';

body.plugin {
    padding: 0 16px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}

.remove-input-focus input:focus {
    outline: none !important;
}

.ring-input-input::placeholder,
.ring-input::placeholder,
input::placeholder,
textarea::placeholder {
    color: var(--ring-secondary-color);
    opacity: 1;
}

.ring-select-buttonValueEmpty.ring-select-buttonValueEmpty {
    color: var(--ring-secondary-color);
}

.datepicker-empty .ring-date-picker-anchor {
    color: var(--ring-secondary-color);
}



